/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  background: none;
}

/* Container Style */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('./assets/images/fund12.jpg'); /* Background image */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

/* Overlay Style */
.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  max-width: 80%;
  line-height: 1.3;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 20px;
  background-color: rgba(247, 236, 236, 0.4); /* Transparent background with 40% opacity */
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.option:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.option h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #333;
}

.option p {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .header {
    text-align: center;
  }

  .option {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 2rem; /* Adjust title size for mobile */
  }

  .option h2 {
    font-size: 1.2rem;
  }
}
.header h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 25px;
  margin-top:5px;
  text-align: center;
  white-space: nowrap; /* Prevents the text from wrapping */
  width: 100%; /* Ensures the header takes up the full width */
  overflow: visible; /* Ensures the text is visible even if it overflows */
}
